#
#
# Copyright 2024 Northern.tech AS
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.

# This is part of a bigger workaround. To fully understand it, it is advised to read the explanation
# in the `rpi_cmdline_txt_workaround` function in the mender-convert repository.

CMDLINE="$(head -n 1 /boot/efi/cmdline.txt 2>/dev/null || true)"

# Remove any `root=` argument. Mender takes care of that.
CMDLINE="$(echo "$CMDLINE" | sed -E -e 's/(^| )root=[^ ]*/\1/')"

# If there is an `init=` argument, save its value and replace it with our own service, which calls
# it.
if echo "$CMDLINE" | grep -q -E '(^| )init='; then
    INIT_ARG="$(echo "$CMDLINE" | sed -E -e 's/(^|.* )init=([^ ]*).*/\2/')"
    CMDLINE="$(echo "$CMDLINE" | sed -E -e 's,(^| )init=[^ ]*,\1systemd.unit=mender-init-runner.service,')"

    # Save the original argument somewhere we can find later when booting.
    mkdir -p /var/lib/mender-rpi-grub-integration
    echo "$INIT_ARG" > /var/lib/mender-rpi-grub-integration/init-argument
else
    if [ -d /var/lib/mender-rpi-grub-integration ]; then
        rm -f /var/lib/mender-rpi-grub-integration/init-argument
        rmdir --ignore-fail-on-non-empty /var/lib/mender-rpi-grub-integration
    fi
fi

GRUB_CMDLINE_LINUX_DEFAULT="$GRUB_CMDLINE_LINUX_DEFAULT $CMDLINE"
