# Default owners for everything
* @mendersoftware/client-dependabot-reviewers

# Scripts folder specific ownership
/scripts/ @mendersoftware/client-dependabot-reviewers
/tests/ @mendersoftware/client-dependabot-reviewers
